<div >
    <div class="about-me">
        <div class="about-title">
            <h3>About me</h3>
        </div>
        <div class="opacity-box">
            <p>Hello! My name is Mary Ann Denman. I am a UI/UX designer based in Seattle, Washington currently
                    working at StringClub. I am looking to take on more work and to increase my skills as
                a UX enthusiast.</p>
        </div>
    </div>
    <div class="about-me-info">
        {% include contactinfo.html %}
        <!--
        <p class="info-row">
            <span class="span-title">Social</span>
            <span>
                <a target="_blank" href="https://www.facebook.com/" class="fa fonts-icons mdi mdi-facebook"></a>
                <a target="_blank" href="https://twitter.com/" class="fa fonts-icons mdi mdi-twitter"></a>
                <a target="_blank" href="https://www.instagram.com/" class="fa fonts-icons mdi mdi-instagram"></a>
                <a target="_blank" href="https://dribbble.com/" class="fa fonts-icons mdi mdi-dribbble"></a>
                <a target="_blank" href="https://www.behance.net/" class="fa fonts-icons mdi mdi-behance"></a>
            </span>
        </p>
    -->
    </div>
    <div class="modal-img">
        <img src="media/modal-about-me/maryann-whiteboard.jpg" alt="">
    </div>
    <div class="resume-box">
        <div class="resume-title">
            <h4>Experience</h4>
        </div>
        <div class="resume-desc opacity-box">
            <p>As a User Experience Designer with a background in nursing and project management, 
                I solve problems through my application of empathy. I design user-centered 
                experiences that are engaging and accessible to provide an inclusive environment 
                that achieves the required business goals while still allowing people to have 
                dignity and feel respected. Personally, I enjoy volunteering and participating in 
                innovative projects that support the needs of local community.
            </p>
        </div>
        <div class="resume-info">
            <div class="resume-info-title">
                <h5>UX designer @ StringClub</h5>
            </div>
            <div class="resume-info-desc opacity-box">
                <p>Work through user experience for StringClub site, specifically the instrument and 
                    user profile pages; helped to define application of Google material design.</p>
            </div>
            <div class="resume-date opacity-box">
                <p>April, 2017 — Present</p>
            </div>
        </div>
        <div class="resume-info">
            <div class="resume-info-title">
                <h5>UX Design Immersive Student @ General Assembly</h5>
            </div>
            <div class="resume-info-desc opacity-box">
                <p>10 week full-time immersive program covering more than 60 hours/week class instruction 
                    and project work.</p>
            </div>
            <div class="resume-date opacity-box">
                <p>October, 2017 — January, 2018</p>
            </div>
        </div>
        <div class="resume-info">
            <div class="resume-info-title">
                <h5>Director @ Kusog Software, Inc.</h5>
            </div>
            <div class="resume-info-desc opacity-box">
                <p>Full life-cycle  recruiting of contract and temp-to-hire resources for the IT industry.</p>
            </div>
            <div class="resume-date opacity-box">
                <p>May, 2012 — Present</p>
            </div>
        </div>
        <div class="resume-info">
            <div class="resume-info-title">
                <h5>Director @ Syrinx, Inc.</h5>
            </div>
            <div class="resume-info-desc opacity-box">
                <p>Managed software development group serving as software developers for US companies.</p>
            </div>
            <div class="resume-date opacity-box">
                <p>January, 2006 — December, 2011</p>
            </div>
        </div>
            
        <div class="resume-info">
            <div class="resume-info-title">
                <h5>Registered Nurse @ Seamen's Hospital Cebu</h5>
            </div>
            <div class="resume-info-desc opacity-box">
                <p>Worked as part of a team with physicians, other nurses and healthcare professionals to 
                    quickly assess the needs of each patient and provide care, monitor health conditions, 
                    plan long-term care needs, administer medicine, use medical equipment, perform minor 
                    medical operations, and advise patients and their families on illness, care and continued 
                    care after a hospital stay.</p>
            </div>
            <div class="resume-date opacity-box">
                <p>January, 2005 — May, 2007</p>
            </div>
        </div>
        
        </div>
    <div class="resume-box">
        <div class="resume-title">
            <h4>Education</h4>
        </div>
        <div class="resume-desc opacity-box">
            <p>All the life I have been driven by my strong belief that education
                is important. I try to learn something new every single day.</p>
        </div>
        <div class="resume-info">
            <div class="resume-info-title">
                <h5>UX Design Immersive @ General Assembly</h5>
            </div>
            <div class="resume-info-desc opacity-box">
                <p>10 week full-time intensive program including 60+ hours/week of class instruction and project 
                    work.</p>
            </div>
            <div class="resume-date opacity-box">
                <p>October, 2017 — January, 2018</p>
            </div>
        </div>
        <div class="resume-info">
            <div class="resume-info-title">
                <h5>Nursing @ Cebu Normal University</h5>
            </div>
            <div class="resume-info-desc opacity-box">
                <p>BS in Nursing</p>
            </div>
            <div class="resume-date opacity-box">
                <p>June, 2000 — March, 2004</p>
            </div>
        </div>
    </div>
    <div class="modal-buttons">
        <a class="site-btn btn-theme-blue" href="#"  data-dismiss="modal" data-toggle="modal" data-target="#contact-me-modal">Contact me</a>
        <a class="site-btn btn-theme-blue-tr" href="#" data-dismiss="modal" aria-hidden="true">BACK TO RESUME</a>
    </div>
</div>
