<p class="info-row">
        <span class="span-title">Phone</span>
        <span class="opacity-box">
            <a href="tel:+1-770-335-5602">+1-770-335-5602</a>
        </span>
    </p>
    <p class="info-row">
        <span class="span-title">Email</span>
        <span class="opacity-box">
            <a href="mailto:maryann.n.denman@gmail.com">maryann.n.denman@gmail.com</a>
        </span>
    </p>
    <p class="info-row">
        <span class="span-title">Address</span>
        <span class="opacity-box">
            <a class="map-link" href="open-google-map">Seattle, WA, United States</a>
        </span>
    </p>
    <p class="info-row">
            <span class="span-title">LinkedIn</span>
            <span class="opacity-box">
                <a href="https://www.linkedin.com/in/maryanndenman/">https://www.linkedin.com/in/maryanndenman/</a>
            </span>
        </p>