
<p class="info-row">
    <span class="span-title">Email</span>
    <span class="outer-box">
        <a href="mailto:maryann.n.denman@gmail.com">maryann.n.denman@gmail.com</a>
    </span>
</p>
<p class="info-row">
    <span class="span-title">Address</span>
    <span class="outer-box">
        <a class="map-link" href="open-google-map">Seattle, WA, United States</a>
    </span>
</p>
<p class="info-row">
    <span class="span-title">LinkedIn</span>
    <span class="outer-box">
        <a href="https://www.linkedin.com/in/maryanndenman/">https://www.linkedin.com/in/maryanndenman/</a>
    </span>
</p>
<p class="info-row">
    <span class="span-title">Social</span>
    <span>
        <a target="_blank" href="https://twitter.com/maryannDuxd/" class="fa fonts-icons mdi mdi-twitter"></a>
        <a target="_blank" href="https://www.linkedin.com/in/maryanndenman/" class="fa fonts-icons mdi mdi-linkedin"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCCRek7yaO3Gh7VQxcMmZfYw" class="fa fonts-icons mdi mdi-youtube-play"></a>
    </span>
</p>
