<div id="lossFullQuote" style="display:none">
    <p>Full loss prevention quote here.</p>
</div>

<div id="geekFullQuote" style="display:none">
    <p>Full geekwire quote here.</p>
</div>

<div id="otherFullQuote" style="display:none">
    <p>Full other quote from 3rd person/project quote here.</p>
</div>

<div class="modal fade" id="full-QuoteModal" tabindex="-1" role="dialog" aria-labelledby="full-QuoteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="inner-content"></div>
                <div class="modal-buttons">
                    <a class="btn btn-primary" href="#" data-dismiss="modal" aria-hidden="true">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
