<div id="lossFullQuote" style="display:none">
    <p>Despite not having a crystal clear vision for my web app, the LPT Design Team (Lauren Jessen, Dom Martinez, 
       and Mary Ann Denman) created an outstanding working prototype. Working with them helped to clarify my vision
       and greatly enhanced the tool's functionality. Because of their user research and testing, I am confident that
       my investment in development will create value for users. The team far exceeded my expectations, and I hope to
       work with them on version 2.0.</p>
    <p>- Kelly Bailey - Client - Loss Prevention Tools</p>   
</div>

<div id="geekFullQuote" style="display:none">
    <p>Working with Mary Ann is the best. She was the researcher on our (class) team project. She knows her job and tackles it
       head on, giving you 100%. She is also super easy to collaborate with. She is super creative in her approaches to
       challenges. Mary Ann rocks!</p>
    <p>- Todd Agnello - Interaction Designer - GeekWire Team</p>   
</div>

<div id="otherFullQuote" style="display:none">
    <p>The Apartment Alerts UX team created an elegant solution that quickly connects landlords and tenants in Seattle's
       red hot rental market. They worked with apartment managers and tenants to identify needs, and the kinds of interfaces
       and alerts work best. The team developed an interface that helps renters to efficiently find apartments that meet
       their income, size, and location needs while enabling landlords to bypass unqualified potential tenants to connect
       only with qualified renters that fit existing vacancies.The Apartment Alerts system will save both landlords and 
       property managers many hours each week of sorting and sifting through unsuitable units and applicants.</p>
    <p>- Whitney Rearick - Client - Apartment Alerts</p>
</div>

<div class="modal fade" id="full-QuoteModal" tabindex="-1" role="dialog" aria-labelledby="full-QuoteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="inner-content"></div>
                <div class="modal-buttons">
                    <a class="btn btn-primary" href="#" data-dismiss="modal" aria-hidden="true">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
