---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if page.canonical %}
    <link rel="canonical" href="{{site.url}}/{{page.canonical}}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Mary Ann Denman - {{ page.pageTitle }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="css/master.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3643096-27"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-3643096-27');
    </script>

    <style>
        .head-row {
            position: relative; 
            height: 40px;
            font-size: small;
        }
        .project-nav {
            position: absolute;
            bottom: -25px;
            left: 0;
            right: 0;
        }
        .project-nav .mnext {
            float:right;
        }
        .project-nav .mprev {
            float:left;
        }
        @media (min-width: 992px) {
            .head-row {
                height: 50px;
            }
            .project-nav {
                bottom: -10px;
            }
        }
    </style>
</head>
<body>

<!-- Loader -->
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end -->

<!-- Header -->
{% if page.ishome %}
<header class="header header-home">
{% else %}
<header class="header header-not-home">
{% endif %}    
    <div class="container">
        <div class="row head-row">
            <div class="col-md-3 col-xs-8">
                <a href="/" class="logo">
                    <div class="header-avatar">
                        <img src="media/first-screen/logo.small.jpg" alt="">
                    </div>
                    <span class="point">Mary Ann</span>
                </a>
            </div>
            <div class="col-md-9 text-right hidden-sm hidden-xs">
                <div class="main-menu header-links">
                    {% include mainmenu.html %}
                </div>
                <!--
                <div class="change-lng header-links">
                    <ul>
                        <li><a href="#">ENG</a></li>
                        <li><a href="#">RU</a></li>
                    </ul>
                </div>
            -->
            </div>
            <div class="col-xs-4 hidden-lg hidden-md">
                <div class="mobile-btn">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            {% if page.nextUrl or page.prevUrl %}
            <div class="project-nav">
                {% if page.prevUrl %}
                <span class="mprev"><a href="{{ page.prevUrl }}" title="Go to prior project"><span class="mdi mdi-chevron-left mdi-dark"></span> Prior Project</a></span>
                {% endif %}
                {% if page.nextUrl %}
                <span class="mnext"><a href="{{ page.nextUrl }}"  title="go to next project">Next Project <span class="mdi mdi-chevron-right mdi-dark"></span></a></span>
                {% endif %}
                </div>
            {% endif %}
</div>
    </div>
</header>
<!-- Header -->

<!-- Mobile menu -->
<div class="mob-menu-wrapper hidden-md hidden-lg">
    <div class="close-mob-menu">
        <span class="mdi mdi-window-close"></span>
    </div>
    <div class="mobile-box-wrap">
        <div class="mobile-box-flex">
            <div class="mobile-menu header-links">
                {% include mainmenu.html ishome=page.ishome %}
            </div>
            <!--
            <div class="change-lng header-links">
                <ul>
                    <li><a href="#">ENG</a></li>
                    <li><a href="#">RU</a></li>
                </ul>
            </div>
            -->
        </div>

    </div>
</div>
<!-- Mobile menu -->
{% if page.ishome %}
<div class="wrapper">
{% else %}
<div class="wrapper mt-wrapper">
{% endif %}
    {{ content }}

    <div class="contacts-section section">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3>Contact</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="opacity-box contact-text">
                        <p>Are you working on something great? I would love to help make it happen! Drop me a
                            letter and start your project right now! Please do it. I will not spam you
                            on <br> e-mail or add to MailChimp list.</p>
                    </div>
                    <div class="about-me-info">
                        {% include contactinfo.html %}
                        <!--
                        <p class="info-row">
                            <span class="span-title">Social</span>
                            <span>
                                <a target="_blank" href="https://www.facebook.com/" class="fa fonts-icons mdi mdi-facebook"></a>
                                    <a target="_blank" href="https://twitter.com/" class="fa fonts-icons mdi mdi-twitter"></a>
                                    <a target="_blank" href="https://www.instagram.com/" class="fa fonts-icons mdi mdi-instagram"></a>
                                    <a target="_blank" href="https://dribbble.com/" class="fa fonts-icons mdi mdi-dribbble"></a>
                                    <a target="_blank" href="https://www.behance.net/" class="fa fonts-icons mdi mdi-behance"></a>
                            </span>
                        </p>
                    -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-wrapper">
                        <form id="contact-form" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name-input">Name</label>
                                        <input type="text"
                                               class="site-input name-input"
                                               id="name-input"
                                               placeholder="Your name"
                                               required
                                               data-validation-required-message="Invalid input">
                                        <p class="help-block"></p>
                                        <p class="help-block-success">done</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email-input">E-mail</label>
                                        <input type="email"
                                               class="site-input email-input"
                                               id="email-input"
                                               placeholder="Contact e-mail"
                                               required
                                               data-validation-email-message="Invalid input"
                                               data-validation-required-message="Invalid input">
                                        <p class="help-block"></p>
                                        <p class="help-block-success">done</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="textarea">Message</label>
                                        <textarea id="textarea"
                                                  class="site-input textarea"
                                                  placeholder="Project description"
                                                  required
                                                  data-validation-required-message="Invalid input"></textarea>
                                        <p class="help-block"></p>
                                        <p class="help-block-success">done</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="submit-holder">
                                        <input class="site-btn btn-theme-blue" type="submit" value="Send message">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright 2018 Mary Ann Denman - 
                        <span class="built-with">Site designed with <a href="http://getbootstrap.com/">bootstrap</a>, 
                            built with <a href="https://jekyllrb.com/">jekyll</a>, hosted on <a href="https://pages.github.com/">github pages</a>. 
                            Site microservices built with <a href="https://nodejs.org/">node.js</a>, hosted on <a href="https://aws.amazon.com/lambda/">AWS Lambda</a>.
                            <a href="https://github.com/nunezmei/nunezmei.github.io">Site version control</a> hosted on github.
                        </span></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Modal about me -->
<div class="modal fade" id="about-me-modal" tabindex="-1" role="dialog" aria-labelledby="about-me-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">About Me</h4>
                </div>
                <div class="modal-body">
                {% include aboutme.html %}
            </div>
        </div>
    </div>
</div>
<!-- Modal about me -->

<!-- Modal contact me -->
<div class="modal fade" id="contact-me-modal" tabindex="-1" role="dialog" aria-labelledby="contact-me-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contact</h4>
            </div>
            <div class="modal-body">
                <div class="about-me">
                    <div class="opacity-box">
                        <p>Are you working on something great? I would love to help make it happen! Drop me a letter
                            and start your project right now! Please do it. I will not spam you on e-mail
                            or add to MailChimp list.</p>
                    </div>
                </div>
                <div class="form-wrapper">
                    <form id="modal-form" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name-modal">Name</label>
                                    <input type="text"
                                           class="site-input name-input"
                                           id="name-modal"
                                           placeholder="Your name"
                                           required
                                           data-validation-required-message="Invalid input">
                                    <p class="help-block"></p>
                                    <p class="help-block-success">done</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email-modal">E-mail</label>
                                    <input type="email"
                                           class="site-input email-input"
                                           id="email-modal"
                                           placeholder="Contact e-mail"
                                           required
                                           data-validation-email-message="Invalid input"
                                           data-validation-required-message="Invalid input">
                                    <p class="help-block"></p>
                                    <p class="help-block-success">done</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="textarea-modal">Message</label>
                                    <textarea id="textarea-modal"
                                              class="site-input textarea"
                                              placeholder="Project description"
                                              required
                                              data-validation-required-message="Invalid input"></textarea>
                                    <p class="help-block"></p>
                                    <p class="help-block-success">done</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="modal-buttons">
                                    <input class="site-btn btn-theme-blue" type="submit" value="Send message">
                                    <a class="site-btn btn-theme-blue-tr" href="#" data-dismiss="modal" aria-hidden="true">Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal contact me -->

<!-- Modal send message -->
<div class="modal fade" id="send-message-modal" tabindex="-1" role="dialog" aria-labelledby="send-message-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="about-me">
                    <div class="about-title">
                        <h3>Your message has been sent!</h3>
                    </div>
                    <div class="opacity-box">
                        <p>Thank you for your interest in my work. I'll contact you just in a few days.
                            Stay tuned and see you soon, friend!</p>
                    </div>
                </div>
                <div class="modal-buttons">
                    <a class="site-btn btn-theme-blue" href="#" data-dismiss="modal" aria-hidden="true">Back to Resume</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal send message -->

<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="assets/isotope/imagesloaded.pkgd.min.js"></script>
<script src="assets/isotope/isotope.pkgd.min.js"></script>
<script src="assets/gradient/gradient.js"></script>
<script src="assets/jquery.mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/smoothscroll-for-websites/SmoothScroll.js"></script>
<script src="assets/contact/jqBootstrapValidation.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/main.js?v=1a"></script>
</body>
</html>